.button {
  appearance: none;
  background: var(--pink);
  border-radius: var(--border-radius);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1.25em;
  margin: 20px auto;
  padding: 10px 20px;
}
