.gameOver:modal {
  align-items: center;
  background: var(--darkGray80);
  border-radius: var(--border-radius);
  border: 2px solid var(--kiwi);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 90vw;
  min-height: 200px;
  min-width: 340px;
  padding: 10px;
  text-align: center;
  width: 60vw;
}

.playAgain {
  margin: 0;
}
