.space {
  --color: var(--kiwi);

  appearance: none;
  background: none;
  border: 1px solid var(--color);
  border-radius: 50%;
  width: var(--space-size);
  height: var(--space-size);
}

.space:checked {
  background-color: var(--color);
}

.space:checked.player1 {
  --color: var(--lime);
}

.space:checked.player2 {
  --color: var(--purple);
}
