.space {
  appearance: none;
  background: none;
  border: 1px solid var(--kiwi);
  border-radius: 50%;
  width: var(--space-size);
  height: var(--space-size);
}

.player1 {
  background-color: var(--lime);
  border-color: var(--lime);
}

.player2 {
  background-color: var(--purple);
  border-color: var(--purple);
}
